.light
    color: $light
.accent
    color: $accent
.button__primary
    max-width: 186px
    width: 100%
    background-color: $accent
.button__secondary
    max-width: 186px
    width: 100%
    background-color: $accent
    max-width: 202px
    width: 100%
    background: transparent
    border: 1px solid #FFFFFF